html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  color: #3783a3;
}

hr {
  color: #e2e2e2;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
